<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>menu_deroulant</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="sunnyside.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="menu_burger_happymeal">
        <div class="logo">
          <img src="images/logo.svg" alt="Logo">
        </div>
        <div class="mobile_icon">
          <img class="mobile_nav" src="images/icon-hamburger.svg" alt="">
        </div>
        <div class="main_menu">
          <nav class="menu">
            <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="image">
          <img>
          <div class="title">
            <h1>we are creatives</h1>
          </div>
          <div class="arrow">
            <img src="images/icon-arrow-down.svg" alt="flèche blanche vers le bas">
          </div>
        </div>


      </section>
      <section class="presentation">
        <div class="a">
              <img id="dsk" src="images/desktop/image-transform.jpg" alt="oeuf avec un fond jaune">
              <img id="mbl" src="images/mobile/image-transform.jpg" alt="oeuf avec un fond jaune">
        </div>
        <div class="b" id="content">
          <div class="title">
            <h2>Transform your brand</h2>
            </div>
            <div class="text">
              <p>We are a full-service creative agency specializing in helping brands grow fast.
                Engage your clients through compelling visuals that do most of the marketing for you.</p>
            </div>
            <button type="button" name="button_brand">Learn More</button>
          </div>

          <div class="c">
                <img id="dsk" src="images/desktop/image-stand-out.jpg" alt="verre rose avec fond rose">
                <img id="mbl" src="images/mobile/image-stand-out.jpg" alt="verre rose avec fond rose">
          </div>
          <div class="d" id="content">
            <div class="title">
              <h2>Stand out to the right audience</h2>
            </div>
            <div class="text">
              <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.</p>
            </div>
              <button type="button" name="button_brand">Learn More</button>
          </div>
          <div class="e">
                <div class="image">
                  <img id="dsk" src="images/desktop/image-graphic-design.jpg" alt="cerises">
                  <img id="mbl" src="images/mobile/image-graphic-design.jpg" alt="cerises">
                  <div class="content" id="content">
                    <div class="title">
                      <h2>Graphic Design</h2>
                    </div>
                    <div class="text">
                      <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="f">
                <div class="image">
                  <img id="dsk" src="images/desktop/image-photography.jpg" alt="orange sur fond bleu">
                  <img id="mbl" src="images/mobile/image-photography.jpg" alt="orange sur fond bleu">
                  <div class="content" id="content">
                    <div class="title">
                      <h2>Photography</h2>
                    </div>
                    <div class="text">
                      <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
                    </div>
                  </div>
                </div>
            </div>
      </section>
      <section class="client">
        <div class="title">
          <h2>CLIENT TESTIMONIALS</h2>
        </div>
        <div class="content">
          <div class="image">
            <img src="images/image-emily.jpg" alt="photo emily">
          </div>
          <div class="text">
            <p>We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
          </div>
          <div class="character">
            <div class="name">
              <span>Emily R.</span>
            </div>
            <div class="work">
              <span>Marketing Director</span>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="image">
            <img src="images/image-thomas.jpg" alt="photo emily">
          </div>
          <div class="text">
            <p>Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</p>
          </div>
          <div class="character">
            <div class="name">
              <span>Thomas S.</span>
            </div>
            <div class="work">
              <span>Chief Operating Officer</span>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="image">
            <img src="images/image-jennie.jpg" alt="photo emily">
          </div>
          <div class="text">
            <p>Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
          </div>
          <div class="character">
            <div class="name">
              <span>Jennie F.</span>
            </div>
            <div class="work">
              <span>Business Owner</span>
            </div>
          </div>
        </div>
      </section>
      <section class="gallery">
          <div class="images">
            <img id="dsk" src="images/desktop/image-gallery-milkbottles.jpg" alt="Bouteille de lait">
            <img id="mbl" src="images/mobile/image-gallery-milkbottles.jpg" alt="Bouteille de lait">
          </div>
          <div class="images">
            <img id="dsk" src="images/desktop/image-gallery-orange.jpg" alt="orange dans une assiette">
            <img id="mbl" src="images/mobile/image-gallery-orange.jpg" alt="orange dans une assiette">
          </div>
          <div class="images">
            <img id="dsk" src="images/desktop/image-gallery-cone.jpg" alt="cornet de glace">
            <img id="mbl" src="images/mobile/image-gallery-cone.jpg" alt="cornet de glace">
          </div>
        <div class="images">
          <img id="dsk" src="images/desktop/image-gallery-sugarcubes.jpg" alt="morceaux de sucre">
          <img id="mbl" src="images/mobile/image-gallery-sugar-cubes.jpg" alt="morceaux de sucre">
        </div>
      </section>
    </main>
    <footer>
      <div class="logo">
        <img src="images/logo.svg" alt="">
      </div>
      <div class="social">
        <div class="images">
          <img src="images/icon-facebook.svg" alt="icon Facebook">
          <img src="images/icon-instagram.svg" alt="icon Instagram">
          <img src="images/icon-twitter.svg" alt="icon Twitter">
          <img src="images/icon-pinterest.svg" alt="icon Pinterest">
        </div>
      </div>
    </footer>
    <script>
    const mobileNav = document.querySelector('.mobile_nav');

    mobileNav.addEventListener('click', mobileMenuToogle);

    function mobileMenuToogle(){
    document.querySelector('.main_menu').classList.toggle('active');
    }


    window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


<div (clickOutside)="close($event)"></div>

    </script>
  </body>
